.for {
	margin: auto;
	border: 1px solid;
	border-radius: 5%;
	width: 30%;
	text-align: center;
	padding: 10px;
	margin-top: 5%;
}
#centering {
	width: 80%;
	text-align:justify;
	padding: 30px;
	margin:auto;
	border-left:40em;
	color:#201658;
	background-color:#BED1CF	;
}
form {
	margin: auto;
	padding: 20px;
	width: 65%;
}

.card {
	margin: auto;
	margin-top: 2%;
}
